/*  your css code here. If applicable */
body {
        background-color: rgb(246, 246, 246);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .left {
        width: 450px;
        margin-top: 70px;
        display: inline-block;
      }
      .right form {
        display: flex;
        width: 300px;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(204, 204, 204);
        flex-direction: column;
        gap: 10px;
      }
      .right form input {
        padding: 10px;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 5px;
      }
      .submit-btn {
        background-color: rgb(24, 119, 242);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
      }
      .right form a {
        text-decoration: none;
        color: rgb(24, 119, 242);
      }

      .right form .signup {
        background-color: rgb(66, 183, 42);
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
      }